@import "tailwindcss";
@import "leaflet/dist/leaflet.css";
@import "./theme.css";
@import "./components.css";
@import "./transitions.css";

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}
